# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environnements
# ======================
venv/
.env
.env.*

# ======================
# Notebooks
# ======================
.ipynb_checkpoints/

# ======================
# Data (ne jamais versionner)
# ======================
data/
*.csv
*.xlsx

# ======================
# Modèles ML
# ======================
*.pkl
*.joblib
models/

# ======================
# MLflow
# ======================
mlruns/
mlflow.db

# ======================
# Logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Temp
# ======================
temp/
tmp/

